.classe{
    display: flex;
    flex-direction: row;
    height: 100vh;
   
}
.classe_cours{
    width: 75%;
}
.classe_chat{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 60vh;
    height: 30px;
    background-color: #436cf4;
    z-index: 10;
}
.classe_sideleft{
    width: 25%;
    background-color: #fff;

}
.classe_sideleft_profile{
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    width: 100%;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: center;
}
.classe_sideleft_s{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.classe_sideleft_sc{
    margin-left:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.classe_sideleft_st{
    margin-right:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}