.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px 50px;
    background-color: #eeeff3;
    justify-content: space-between;
    align-items: center;
}

.home_footer {

    display: flex;
    flex-direction: row;
    background-color: #436cf4;
    height: 80px;
   
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 60px;
    right: 60px;
}
.home_footer_title{
    height: 10vh;
}
.home_other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    margin-left: 60px;
    margin-right: 60px;
    width: 90%;
 
}

.home h3 {
    font-weight: 400;
    font-size: x-large;
}
.home_head{
    max-height: 55vh;
   }